*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(../images/6.jpg);
    background-size: cover;
    font-family: arial;
    text-align: center;
}
.loingbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    padding: 70px 40px;
    box-sizing: border-box;
background: rgba(0,0,0,0.5);
border-radius: 30px;
}
.loingbox input{
    margin-bottom: 20px;
    width: 100%;

}
.loingbox input[type="email"],
.loingbox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
}
::placeholder{
    color: rgba(255,255.255,0.5);

}
.loingbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background: #ff8c00;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
    font-weight: bold;
    text-transform: uppercase;

}
.loingbox h2{
    margin: 0;
    padding: 0 0 26px;
    color: #d2dfe7;
}
.loingbox[type="submit"]:hover{
    background: orange;
    color: #fff;
}
.loingbox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}